/* PHONE */
/* 
.row {
    padding: 12px;
}

p {
    color: white;
    text-align: justify;
}

.btn {
    align-self: center;
}

.row div h1 {
    color: yellow;
    text-align: center;
}

li {
    color: white;
}

.img-fluid {
    max-width: 60%;
    height: auto;
    padding: 12px;
}

.card {
    display: flex;
    flex-direction: row;
}

.footer {
    background-color: gray;
    display: flex;
}

.social-media {
    margin-top: 20px;
    text-align: center;
}

.social-media img {
    margin-right: 4px;
    margin-left: 4px;
} */

/* DESKTOP  */

.row {
    padding: 12px;
}

p {
    color: white;
    text-align: justify;
}

.btn {
    align-self: center;
}

.row div h1 {
    color: yellow;
    text-align: center;
}

li {
    color: white;
}

.img-fluid {
    max-width: 60%;
    height: auto;
    padding: 12px;
}

.card {
    display: flex;
    /* width: 100%; */
    flex-direction: row;
}

.card-content {
    padding: 5px;
    flex: 0.6;
    display: flex;
    flex-direction: column;
}

.card-img {
    flex: 0.4;
    padding: 5px;
}

.card-img img {
    width: 100%;
    height: 100%;
}

.line {
    width: 100vw;
    height: 2px;
    background-color: yellow;
}

.footer {
    background-color: gray;
    display: flex;
    width: 100vw;
}

.footer-address {
    flex: 0.5;
}

.footer-social-media {
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social-media img {
    margin-right: 4px;
    margin-left: 4px;
}

@media screen and (max-width: 768px) {
    .card {
        display: block;
        flex-direction: row;
    }

    .footer {
        background-color: gray;
        display: block;
        width: calc(100vw + 15px);
    }

    .footer-social-media {
        margin-top: 20px;
        text-align: center;
    }
}
