.best-seller-items{
    border: 10px solid palevioletred;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.sale-items img{
    height: 300px;
}
.sale-text{
    background-color: rgba(0, 0, 0, 0.2);
    padding: 4px 4px 1px 4px;
    
}
.sale-title{
    border-bottom: 1px solid black;
}

.maps{
    width: 100%;
    height: 400px;
}
.foooter{
    background-color: black;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
}