.navbar-header .navbar-brand img {
    width: 60%;
    margin-left: 30px;
}

.nav li a {
    color: rgb(6, 141, 96);
}

.row:nth-child(2) h1 {
    margin-top: 40px;
}

.row .content p {
    font-size: larger;
}

.description {
    margin: 0px 20px 20px 20px;
}

.fav-dishes {
    background-color: rgb(27, 213, 213);
}

.fav-dishes .title {
    border-bottom: 2px solid rgb(7, 45, 45);
}
.title {
    color: orange;
}
.dishes {
    display: flex;
    padding: 20px 0px 5px 0px;
    margin: -10px 0px 10px 0px;
}
.dishes img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 30px;
}
.buffet {
    display: flex;
    justify-content: center;
}
.buffet img {
    width: 35%;
}

.buffet-family {
    text-align: center;
}
.buffet-family img {
    width: 70%;
}
.footer {
    background-color: rgb(7, 66, 66);
    color: white;
    font-size: larger;
    padding: 10px 0px;
    margin-top: 20px;
}

.banner img {
    display: block;
    margin: auto;
}

.navbar-header button:first-child {
    background-color: green;
}
.icon-bar {
    background-color: white;
}

@media screen and (max-width: 992px) {
    .navbar-header .navbar-brand img {
        width: 50%;
        margin-left: 0px;        
    }
    .nav {
        margin-top: 30px;
    }
    .form {
        margin-top: -30px;
    }
    .banner img {
        width: 100%;
    }
}