.service-items {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-left: 20px;
}
.service-text {
  font-size: 20px;
}
.combo-text-header {
  opacity: 0.6;
}
.combo-text {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 8px 3% 4px 3%;
}
.combo-title {
  border-bottom: 2px dashed black;
}
.footer {
  background-color: black;
  margin-top: 20px;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}
